/*团队介绍*/
.team-box{
	margin-top:2px;
	margin-bottom: 4px;
}
.team{
	font-size: 4px;
	color:#006599;
	padding:3px 0;
	border-bottom:1px solid #eeeeee;
}

.team-introduce{
	margin-top: 2px;
	font-size: 20px;
	font-weight: 600;
}

/*团队成员*/
.articles{
	padding-top: 2px;
}
.member-box{
	padding: 1px 0
}
.media-object{
	border-radius: 50%;
	padding-left: 0;
}

.media-left{
	margin-left: 0;
}

.media-body p span{
	padding-right: 1px;
}

.member-name{
	font-size: 25px;
	font-weight: 700;
}

span.member-email{
	font-size: 20px;
	font-weight: 600;
}

.member-intro{
	font-size: 15px;
	font-weight: 500;
}

@media (max-width: 768px){
	.media-body{
		padding-right: 1px;
		padding-left: 1px;
		padding-top: 1.5px;
	}

	.member-box{
		padding: 1px;
		border-bottom: 0.1px solid #eee;
	}

	.team{
		padding: 1.5px;
	}

	.team-box{
		margin-top: 0;
	}

	.clear{
		display: none;
	}
}

@media (min-width: 768px){
	.media-body{
		padding-left: 0;
		padding-top: 1.5px;
		padding-right: 4px;
		padding-left: 4px;
	}
}

@media (min-width: 992px){
	.media-body{
		padding-left: 0;
		padding-top: 0.5px;
		padding-right: 5px;
	}

	.media-body p{
		margin-left: 1px;
		
	}
}